body{ 
    margin: 0px;
    padding: 0px;
}
.red{
    height: 600px;
    background-color: #699bf7;
}
.rere{
    height: 600px;
    background-color: #699bf7;
}

.dropdown:hover .dropdown-menu {display: block; }